@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,600,700" rel="stylesheet"');
@import "node_modules/bootstrap/scss/bootstrap";
@import "icofont.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

bg-transparent {
  background: transparent;
}

$font-family-poppins: 'Poppins', sans-serif;
$font-family-lato: 'Lato', sans-serif;
$top-menu-color: #f4f4f4;
$logo-green-color: #298e05;
$red-color: #cd1212;
$grey-color: #71737a;
$white-color: #fff;
$black-color: #000;
$margin: 80px;

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black-color;

  &:hover {
    text-decoration: none;
    color: $black-color;
  }
}

.btn {
  color: $white-color;
  background-color: $logo-green-color;
}
h6{
	padding-bottom: 10px;
	font-family: $font-family-poppins;
	font-size: 20px;
	font-weight: 600;
}

.owl-block, .category-block{
        padding: 10px;
        border: 1px solid transparent;
        position: relative;

        .image-block {
          height: 215px;
          border: 1px solid #f8f8f8;
          overflow: hidden;

          img {
            transition: .2s;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);

            &:hover {
              transform: scale(1.5);

            }
          }
        }

        h5 {
          font-family: $font-family-lato;
          font-size: 15px;
          color: $grey-color;
          padding-top: 15px;
          padding-bottom: 5px;
        }
		.discount-price{
			display: none;
		}
        .btn-add {
          font-size: 12px;
          font-family: $font-family-poppins;
          font-weight: 600;
          text-decoration: none;
          color: $black-color;
          background-color: $top-menu-color;
          padding: 10px 10px 10px 10px;
          border-radius: 2px;
          text-align: center;
        }

        &:hover {
          border: 1px solid $logo-green-color;
		  .mark-price{
			  display: none;
		  }
		  .discount-price{
			  display: block;
			  padding-bottom: 10px;
			  font-family: $font-family-poppins;
			  font-size: 20px;
			  font-weight: 600;
			  .old-price {
				display: contents;
				font-size: 16px;
				font-weight: 400;
				color: $black-color;
			  }
		  }
          h5 {
            color: $red-color;
          }
          .btn-add {
            background-color: $logo-green-color;
            color: $white-color;
          }
        }
      }
    
.owl-dots {
  display: none;
}

.section-head {
  border-bottom: 1px solid $top-menu-color;
  margin-bottom: 10px;

  .section-heading {
    font-family: $font-family-poppins;
    font-size: 16px;
    font-weight: 600;
  }
}

.container-fluid {
  @include media-breakpoint-up(xl) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include media-breakpoint-down(xs) {
  .text-sm-center {
    text-align: center;
  }
}

.top-bar {
  background: $top-menu-color;
  padding: 15px;
  @include media-breakpoint-down(xs) {
    text-align: center;
    .text-right {
      text-align-last: center !important
    }
  }

  .sign-up-part {
    ul {
      text-align: right;
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        display: inline-block;
        font-family: $font-family-lato;
        font-size: 14px;
      }
    }
  }
}

header {
  &.sticky-nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1120;
      background: $white-color;
      box-shadow: 0 2px 3px 0 rgba(96, 96, 96, 0.1);
      transition: all 0.3s;
  }

  .logo-part {
    .navbar {
      padding-top: 20px;

      .form-inline {
        width: 100%;

        .input-group {
          width: 100%;

          .form-control {
            border-radius: 0;
          }

          .input-group-text {
            background-color: $white-color;

            .icofont-ui-search {
              color: $logo-green-color;
            }
          }
        }
      }
    }
  }

  .cart-item {
    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
    }
    padding-top: 20px;

    a {
      display: inline-block;
      border: 2px solid $top-menu-color;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 54px;
      text-align: center;
    }

    .cart-list {
      font-size: 28px;
      margin: 10px;
    }
  }

  .menu-part {
    background-color: $black-color;
      .navbar{
          padding:0;
            .categories{
                padding-top: 15px;
                padding-bottom: 15px;
                background-color: $logo-green-color;
                color: $white-color;
                &:hover{
                   color: $white-color; 
                }
            }
          .navbar-toggler{
              background-color: #fff;
              margin-left: 130px;
              .navbar-toggler-icon{
                  color: #fff;
              }
              &:focus{
                outline: transparent;
                display: block;
              }
          }      
    .nav-pills {  
      .nav-link {
        background-color: transparent;
        text-transform: uppercase;

        &:active {
          background-color: transparent;
        }
        .disabled {
          color: $white-color;
        }
      }

      .show {
        background-color: transparent;
      }
      .dropdown-toggle{
          color: $white-color;
      }
      a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: $white-color;
      }
    }
  
      }
    
    }
}

.slide {
  margin-bottom: 50px;
  @include media-breakpoint-down(xs) {
    margin-bottom: 20px;
  }
  position: relative;

  .carousel-inner {
    .carousel-item {
      height: 450px;
      @include media-breakpoint-down(xs) {
        height: 40vh;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .carousel-caption {
        a {
          padding: 10px;
        }
      }
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;

    .left-arrow, .right-arrow {
      font-size: 24px;
      background-color: $white-color;
      padding: 5px;
      color: $black-color;
      border-radius: 5px;

      &:hover {
        background-color: $logo-green-color;
        color: $white-color;
      }
    }
  }
}

.section-owl {
  position: relative;
  margin-bottom: 50px;

  #trending-slider-div, #featured-slider-div, #cake-slider-div, #similar-slider-div, #category-slider-div {

    .owl-nav {
      position: absolute;
      top: -70px;
      right: 10px;
      background-image: none;

      .owl-prev, .owl-next {
        margin-right: 5px;
        font-size: 24px;

        span {
          padding-left: 10px;
          padding-right: 10px;
        }

        background-color: $top-menu-color;
        color: $black-color;

        &:hover {
          background-color: $logo-green-color;
          color: $white-color;
        }
      }
    }
  }
}

.section-tab {
  position: relative;
  margin-bottom: 50px;
  .section-head {
    position: absolute;
    top: 25px;
    border-bottom: transparent;
  }

  .tab-menu {
    position: absolute;
    right: 140px;
    padding-top: 10px;

    .nav-tabs {
      border-bottom: transparent;
		
	  @include media-breakpoint-down(xs) {
		  display: none;
		  
	  }
      .nav-item {
		    padding-right: 20px;
			padding-bottom: 10px;
			a {
			  font-family: $font-family-lato;
			  font-size: 16px;
			  text-decoration: none;
			  color: $black-color;

			  &:active {
				color: $red-color;
			  }
			}
        .nav-link {
          background-color: transparent;
          border-color: transparent;

          &:active {
            background-color: transparent;
            border-color: transparent;
            color: $red-color;
          }

          &:hover, &:focus {
            border-color: transparent;
          }

        }
        .show.active {
          background-color: transparent;
          border-color: transparent;
          color: $red-color;
        }
      }
    }
	.tab-dropdown{
		  margin-top: 5px;
		  @include media-breakpoint-up(xs) {
		  	display: none;
	  	  }
		  @include media-breakpoint-down(xs) {
		  	display: block;
	  	  }
	  }
  }

  .tab-content {
    padding-top: 50px;

    .tab-pane {
      padding-top: 20px;

      .owl-carousel {
        .owl-block {
			border: 0;
          .d-flex {
            padding-bottom: 20px;
          }
        }

        .owl-nav {
          position: absolute;
          top: -70px;
          right: 15px;
          background-image: none;

          .owl-prev, .owl-next {
            margin-right: 5px;
            font-size: 24px;

            span {
              padding-left: 10px;
              padding-right: 10px;
            }

            background-color: $top-menu-color;
            color: $black-color;

            &:hover {
              background-color: $logo-green-color;
              color: $white-color;
            }
          }
        }
      }
    }

    .tab-row-part {
      padding-bottom: 20px;
    }

    .image-part {
      width: 130px;
      height: 140px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-part {
      padding-left: 20px;

      a {
        text-decoration: none;
        color: $grey-color;
        font-size: 15px;
        font-family: $font-family-lato;
      }

      h6 {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .btn-add {
        font-size: 12px;
        font-family: $font-family-poppins;
        font-weight: 600;
        text-decoration: none;
        color: $black-color;
        background-color: $top-menu-color;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 2px;
        text-align: center;
      }

      &:hover {
        .btn-add {
          background-color: $logo-green-color;
          color: $white-color;
        }
      }
    }
  }
}

.section-adv {
  margin-bottom: 50px;

  .ad-slot {
    height: 170px;
    background: #CCCCCC;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }

  }
}

.section-newsletter {
  margin-bottom: 40px;

  .navbar-brand {
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
    padding-top: 10px;
    font-size: 18px;
    font-family: $font-family-poppins;
    font-weight: 600;
    color: $white-color;
  }

  .form-inline {
    width: 90%;

    .input-group {
      width: 100%;

      .form-inline {
        border-radius: 0rem;
      }

      .input-group-text {
        background-color: $logo-green-color;
        color: $white-color;
      }
    }
  }
}

footer {
  color: $grey-color;

  h3 {
    font-family: $font-family-poppins;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid $top-menu-color;
  }

  .address {
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .address,
  .account,
  .information,
  .services {
    padding-left: 0px;

    li {
      line-height: 24px;
      font-size: 90%;

      a {
        color: $grey-color;

        &:hover {
          color: $logo-green-color;
        }
      }
    }
  }

  .social-icons {
    padding-left: 0px;

    li {
      color: $grey-color;
      font-size: 22px;
      padding-right: 10px;
      display: inline-block;

      a {
        &:hover {
          color: $logo-green-color;
        }
      }

    }
  }

  .copyright-part {
    border-top: 1px solid $top-menu-color;
    padding-top: 20px;
    font-size: 90%;

    .logo-img {
      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: flex-end;
      }
      justify-content: flex-start;

      ul {
        margin-left: 0px;
        padding-left: 0px;

        li {
          display: inline-block;
          padding-right: 10px;

          a {
            font-size: 30px;

            &:hover {
              color: $logo-green-color;
            }
          }
        }
      }

    }
  }
}

// cake-inner page

.section-cake-category{
    margin-top: $margin;
    margin-bottom: $margin;
}
.section-list{
    margin-bottom: $margin;
}
.cake-inner {
  margin-top: $margin;
  margin-bottom: $margin;

  .cake-info {
    border: 1px solid $grey-color;
    padding: 10px;
    margin-bottom: 20px;

    .cake-head {
      font-size: 30px;
      margin-bottom: 0;
    }

    .vendor {
      font-size: 12px;
      color: $logo-green-color;
      border-bottom: 1px solid $grey-color;

    }

    .price {
      padding-top: 20px;
      font-size: 30px;
    }

    .feature {
      padding-top: 10px;

      .feature-detail {
        padding-left: 0;

        .feature-list {
          color: #000;
          font-weight: 600;
        }
      }
    }

    .btns {
      margin-bottom: 20px;
      .csuppliers {
        display: inline-block;
      }
      .rquotes {
        display: inline-block;
        font-size: 16px;
        .buy-now{
            color: $white-color;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 15px;
            padding-top: 10px;
            border-radius: 5px;
        }
      }
    }
  }

  .ajax-text {
    border: 1px solid $grey-color;
    padding: 10px;

    .scroll-text {
      position: relative;
      overflow-y: scroll;
      height: 150px;
    }
  }

  .photos {
    .zoomWrapper {
      width: 100% !important;
      height: 400px !important;
      overflow: hidden;

      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        position: relative !important;
      }
    }

    #album {
      width: 100%;
      height: 100px;
      overflow-x: scroll;
      display: flex;
      justify-content: start;

      a {
        border: 1px solid transparent;

        &.active {
          border: 1px solid red;
        }
      }

      img {
        height: 80px;

      }
    }
  }

}

.zoomContainer {
  width: auto !important;
}

#similar-slider-div {
  @include media-breakpoint-up(md) {
    .owl-nav {
      display: none;
    }
  }

}

//about us page
.section-aboutus {
  margin-top: $margin;
  margin-bottom: $margin;
}

//contact us page
.contact-page {
  margin-bottom: 50px;

  .btn {
    color: $white-color;
    background-color: $logo-green-color;
  }

  .addressDetail {
    ul {
      padding-left: 0;
    }
  }
}

//sign up
.section-signUp {

  margin-top: $margin;
  margin-bottom: $margin;

  .register-form {
    .signUp-heading {
      align-text: center;
      padding-bottom: 20px;
    }

    padding: 20px;
    background-color: $top-menu-color;
  }
}

//login
.section-login {
  margin-top: $margin;
  margin-bottom: $margin;

  .login-form {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    width: 50%;
    padding: 20px;
    background-color: $top-menu-color;

    form {
      .form-group {
        width: 100%;
      }
    }
  }
}

// add to cart
.section-cart {
  margin-top: $margin;
  margin-bottom: $margin;

  .table > tbody > tr > td, .table > tfoot > tr > td {
    @include media-breakpoint-down(sm) {

      h2, h4 {
        font-size: 10px;
      }
      p {
        font-size: 10px;
      }
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      td {
        width: 3px;
      }
      .table, th, td, tr, tfoot {
        padding: 0.2rem;
        min-width: 250px;
      }
      .btn {
        padding: 0.1rem 0.4rem;
        font-size: 0.6rem;
      }
    }
    vertical-align: middle;

    .btn-warning {
      border-color: transparent;

      &:hover {
        background-color: $grey-color;
        color: $black-color;
      }
    }

    @media screen and (max-width: 600px) {
      table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
      }
      .actions .btn {
        width: 36%;
        margin: 1.5em 0;
      }

      .actions .btn-info {
        float: left;
      }
      .actions .btn-danger {
        float: right;
      }

      table#cart thead {
        display: none;
      }
      table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
      }
      table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
      }
      table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
      }
    }
  }
}



